<% content_for :title, navigation %>
<div class="row">
  
  <section id="artist-photo" class="col-sm-3">
    <%= link_to(@artist.photo_url(:normal), data: {lightbox: "photo"}, title:
    @artist.name) do %>
      <% image_tag @artist.photo_url(:medium).to_s, class: "img-thumbnail" %>
    <% end %>
  </section>
  <section id="artist-profile" class="col-sm-9">
       
    <h3 class="text-center"><%= @artist.name %> </h3>
   
    <p class="text-center art-real-name">
      <small class="original-name">" <%= @artist.real_name %>"</small>&nbsp; <%= image_tag(@artist.country.flag.url(:_16), title: @artist.country.name) if @artist.country%>
    </p>
    <% if @artist.death %>
      <p class="text-center">
        <small><%= "(#{@artist.birthday.year} - #{@artist.death.year})" %></small>

      </p>      
    <% end %>   
    
    <table id="artist-data" class="table table-borderless">
      <colgroup>
        <col width="130">
        <col>
      </colgroup>
      <tr>
        <td class="text-right"><strong>Nascimento:</strong></td>
        <td>
          <% if @artist.birthday %>
            <%= @artist.birthday.to_s(:br_date) %>&nbsp;
            <small><%= "(#{@artist.age})" %></small>
          <% end %>
        </td>
      </tr>
      <% if @artist.death %>
        <tr>
          <td class="text-right"><strong>Falecimento:</strong></td>
          <td><%= I18n.l @artist.death %></td>
        </tr>
      <% end -%>
      <tr>
        <td class="text-right"><strong>Estatura:</strong></td>
        <td><%= "#{@artist.height} cm" if @artist.height and not @artist.height.empty?%></td>
      </tr>      
      <tr>
        <td class="text-right"><strong>Atividades:</strong></td>
        <td><%= @artist.professions.map(&:name).join(", ") unless @artist.professions.empty? %></td>
      </tr>
      <tr>
        <td class="text-right"><strong>Produções:</strong></td>
        <td>
          <%= @artist.films.map {|e| normalize_title(e.brazilian_title)}.uniq.join(", ").truncate(90, separator: ' ') unless @artist.films.empty? %>&nbsp;
          <em><small><%= link_to '(todos)', '#artist-productions', data: {toggle: 'modal'} if @artist.films.map {|e| normalize_title(e.brazilian_title)}.uniq.join(", ").length > 90 %></small></em>
        </td>
      </tr>      
    </table>

    <% unless @artist.films.empty? %>
      <ul id="artist-films" class="bxslider">
        <% @artist.films.uniq.each do |f| %>
          <li>
            <%= link_to(image_tag(f.poster_url(:thumb), title: f.br_title, class: "img-thumbnail"), f) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <%= link_to 'Editar', edit_artist_path(@artist) %> |
        <%= link_to 'Voltar', artists_path %>
      </div>
      <div class="col-sm-4"></div>
    </div>
    
  </section>

</div>

<!-- bootstrap modal -->
<div class="modal fade" id="artist-productions" tabindex="-1" role="dialog" aria-labelledby="artistModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="artistModalLabel"><%= @artist.name %> <small>(produções)</small> </h4>
      </div>
      <div class="modal-body">
        <!-- <ul> -->
        <% @artist.films.uniq.each do |f| %>
          <p><em><small><%= link_to f.br_title, f %></small></em></p>
        <% end -%>
        <!-- </ul> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>