<%= form_for(@film, html: {multipart: true, class: "form-horizontal", role: 'form'}) do |f| %>
  <!-- <%# if @film.errors.any? %> -->
    <!-- <div id="error_explanation"> -->
      <!-- <h2><%#= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2> -->
<!--  -->
      <!-- <ul> -->
      <!-- <%# @film.errors.full_messages.each do |msg| %> -->
        <!-- <li><%#= msg %></li> -->
      <!-- <%# end %> -->
      <!-- </ul> -->
    <!-- </div> -->
  <!-- <%# end %> -->

  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :title, class: "form-control input-sm fill", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :brazilian_title, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :brazilian_title, class: "form-control input-sm fill" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :release, class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :release, class: "form-control input-sm date fill" %>
      <%#= f.date_select(:release, {}, class: "small", display: "inline-block") %>
    </div>
    <%= f.label :genre, "Gênero", class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.select :genre, options_for_select(@genres, @film.genre), {include_blank: true}, class: "form-control input-sm fill"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :length, class: "col-sm-3 control-label" %>
    <div class="col-sm-3 input-group">
      <%= f.number_field :length, class: "form-control input-sm fill text-right"
      %><span class="input-group-addon">min</span>
    </div>
    <%= f.label :country_id, "País", class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :country_id, class: "film_country", data: 
      {pre: Array.new(1, @film.country.as_json(only: [:id, :name], methods: :url_16))}  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :director_ids, "Diretores", class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :director_ids, class: "form-control directors", data:
      {pre: @film.directors.as_json(only: [:id, :name])} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :writer_ids, "Roteiristas", class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :writer_ids, class: "form-control writers", data: {pre:
        @film.writers.as_json(only: [:id, :name])} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cast_ids, "Elenco", class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :cast_ids, class: "form-control cast", data: {pre: 
        @film.cast.as_json(only: [:id, :name])} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :synopse, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_area :synopse, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :poster, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= image_tag @film.poster_url(:thumb), class: "img-thumbnail" if @film.poster? %>
      <%= f.file_field :poster %>
      <%= f.hidden_field :poster_cache %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <%= f.submit nil, data: {:disable_with => 'Criando...'}, class: "btn btn-default btn-xs" %>
    </div>
  </div>
<% end %>
