<% content_for :title, navigation %>

<% if @film.errors.any? %>
  <section class="col-sm-offset-3 col-sm-7 panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Erros no formulário!</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @film.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end -%>
      </ul>
    </div>
  </section>
<% end -%>

<%= form_for(@film, html: {multipart: true, class: "form-horizontal", role: 'form'}) do |f| %>
  
  <div class="form-group">
    <%= f.label :brazilian_title, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :brazilian_title, class: "form-control input-sm fill validate[required]" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :title, class: "form-control input-sm fill" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :release, class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :release, class: "form-control input-sm text-center fill validate[custom[validDate]]", placeholder: "dd/mm/aaaa" %>
    </div>
    <%= f.label :genre, class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :genre, class: "film_genre genero", data: {genres: @genres.as_json, pre: @film.genre_asjson} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :length, class: "col-sm-3 control-label" %>
    <div class="col-sm-3 input-group">
      <%= f.number_field :length, class: "form-control input-sm fill text-right"
      %><span class="input-group-addon">min</span>
    </div>
    <%= f.label :country_id, "País", class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :country_id, class: "film_country", data: 
      {pre: Array.new(1, @film.country.as_json(only: [:id, :name], methods: :url_16))} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :director_ids, "Direção", class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :director_ids, class: "form-control directors", data:
      {pre: @film.directors.as_json(only: [:id, :name])} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :writer_ids, "Roteiro", class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :writer_ids, class: "form-control writers", data: {pre:
        @film.writers.as_json(only: [:id, :name])} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cast_ids, "Elenco", class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :cast_ids, class: "form-control cast", data: {pre: 
        @film.cast.as_json(only: [:id, :name])} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :synopse, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.text_area :synopse, class: "form-control" %>
    </div>
  </div>

  <div class="form-group film-poster">
    <%= f.label :poster, class: "col-sm-3 control-label" %>

    <div class="col-sm-4 film-poster fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-preview thumbnail film-poster" data-trigger="fileinput" style="width: 100px; height: 130px;">
        <%= image_tag @film.poster_url(:thumb) %>
      </div>

      <div class="film-poster">
        <% if @film.poster? %>
          <label class="control-label film-poster"><%= f.check_box :remove_poster, class: "film-poster" %> Remover</label>
        <% end -%>
      </div>

      <div class="film-poster">
        <span class="btn btn-xs btn-default btn-file">
          <span class="fileinput-new">Escolher poster</span>
          <span class="fileinput-exists">Trocar</span>
          <%= f.file_field :poster %>
          <%= f.hidden_field :poster_cache %>
        </span>
        <a href="#" class="btn btn-xs btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
      </div>
      
    </div>
  </div>

  <div class="form-group film-submit">
    <div class="col-sm-offset-3 col-sm-7">
      <%= f.submit nil, data: {:disable_with => 'Enviando...'}, class: "btn btn-default btn-xs" %>
    </div>
  </div>
<% end %>

<% if params[:action] == 'edit' %>
  <hr>
  <div id="pictures">
    <%= render @film.pictures %>
  </div>
  <% if @film.pictures.size < 6 %>
    <%= render file: 'pictures/new' %>
  <% end -%>
<% end -%>