<% content_for :title, navigation %>
<div class="row">
  
  <section id="film-img" class="col-sm-3 poster">
    <%= link_to(@film.poster_url(:normal), data: {lightbox: "poster"}, title: normalize_title(@film.brazilian_title)) do %>
      <% image_tag @film.poster_url(:medium), class: "img-thumbnail" %>
    <% end %>
  </section>
  <section id="film-show" class="col-sm-9">
    <h3 class="text-center">
      <strong><%= normalize_title(@film.brazilian_title) if @film.brazilian_title.present?%></strong>
      <small><%= "(#{@film.release.year})" if @film.release%></small>
    </h3>
    
    <p class="text-center">
      <small class="original-name"> " <%= normalize_title(@film.title) if @film.title.present?%> "</small>&nbsp;
      <%= image_tag( @film.country.flag.url(:_16), title: @film.country.name) if @film.country %>
    </p>

    <table id="film-data" class="table table-borderless">
      <colgroup>
        <col width="130">
        <col>
      </colgroup>
      <tr>
        <td class="text-right"><strong>Lançamento:</strong></td>
        <td><%= l @film.release, format: :long_day if @film.release%></td>
      </tr>
      <tr>
        <td class="text-right"><strong>Gênero:</strong></td>
        <td><%= @film.genre_format %></td>
      </tr>
      <tr>
        <td class="text-right"><strong>Duração:</strong></td>
        <td><%= "#{@film.length} minutos" if @film.length.present? %></td>
      </tr>
      <tr>
        <td class="text-right"><strong>Direção:</strong></td>
        <td><%= @film.directors.map(&:name).join(", ") unless @film.directors.empty? %></td>
      </tr>
      <tr>
        <td class="text-right"><strong>Roteiro:</strong></td>
        <td><%= @film.writers.map(&:name).join(", ") unless @film.writers.empty? %></td>
      </tr>
      <tr>
        <td class="text-right"><strong>Sinopse:</strong></td>
        <td><%= @film.synopse %></td>
      </tr>
      <tr>
        <td class="text-right"><strong>Elenco:</strong></td>
        <td>
          <%= @film.cast.map(&:name).join(", ").truncate(90, separator: ' ', omission: '') unless @film.cast.empty? %>&nbsp;
          <em><small><%= link_to '...mais', '#film-cast', data: {toggle: 'modal'} if @film.cast.map(&:name).join(", ").length > 90 %></small></em>
        </td>
      </tr>
    </table>
        

    <% unless @film.cast.empty? %>
      <ul id="film_cast" class="bxslider">
        <% @film.cast.each do |a| %>
          <li>
            <%= link_to(image_tag(a.photo_url(:thumb), title: a.name, class: "img-thumbnail"), a) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <%= link_to 'Editar', edit_film_path(@film), class: "btn btn-default btn-xs" %> |
        <%= link_to 'Voltar', films_path, class: "btn btn-default btn-xs" %>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </section>

</div>

<!-- bootstrap modal -->
<div class="modal fade" id="film-cast" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= normalize_title(@film.brazilian_title) %> <small>(elenco)</small></h4>
      </div>
      <div class="modal-body">
        <!-- <ul> -->
        <% @film.cast.each do |a| %>
          <p><em><small><%= link_to a.name, a %></small></em></p>
        <% end -%>
        <!-- </ul> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>