<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @picture.image %>
</p>

<p>
  <strong>Info:</strong>
  <%= @picture.info %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @picture.artist %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
