<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @medium.type %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @medium.release_date %>
</p>

<p>
  <strong>Pakage:</strong>
  <%= @medium.pakage %>
</p>

<p>
  <strong>Qtd discs:</strong>
  <%= @medium.qtd_discs %>
</p>

<p>
  <strong>Price:</strong>
  <%= @medium.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @medium.price %>
</p>

<p>
  <strong>Art:</strong>
  <%= @medium.art %>
</p>

<p>
  <strong>Distribuidora:</strong>
  <%= @medium.distribuidora %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
