<% content_for :title, navigation %>
<%= form_for(@country, html: {multpart: true, class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <%= f.label :name, class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= f.text_field :name, class: "form-control input-sm fill validate[required]" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :english_name, class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= f.text_field :english_name, class: "form-control input-sm fill" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :flag, class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= image_tag @country.flag_url(:_48), class: "img-thumbnail" if @country.flag? %>
        <%= f.file_field :flag %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3"></div>
      <div class="col-sm-7">
        <% if @country.flag? %>
          <label><%= f.check_box :remove_flag %>Remove bandeira</label>
        <% end -%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <%= f.submit nil, data: {:disable_with => 'Enviando...'}, class: "btn btn-sm btn-default" %>
      </div>
    </div>
<% end %>

